@import "global";

$r-colors: hsl(0, 78%, 62%);
$c-colors: hsl(180, 62%, 55%);
$o-colors: hsl(34, 97%, 64%);
$b-colors: hsl(212, 86%, 64%);
$db-colors: hsl(234, 12%, 34%);
$dw-colors: hsl(229, 6%, 66%);
$w-colors: hsl(0, 0%, 98%);

.header-1 {
  font-size: x-large;
}

header {
  margin: 0 auto;
  width: 50%;
  width: 35%;
  text-align: center;
  color: $dw-colors;
  h2 {
    color: $db-colors;
  }
  p {
    font-size: small;
    line-height: 1.5;
  }
}
.card {
  h3 {
    color: $db-colors;
  }
  p {
    color: $dw-colors;
  }
}
.card > * {
  padding: 15px;
  box-shadow: 0 0 10px $dw-colors;
  width: 22%;
  height: 12rem;
}
.card-1 {
  margin-right: 12%;
  margin-top: 8%;
  border-top: 3px solid $b-colors;

  float: right;
}
.card-2 {
  margin-left: 12%;
  margin-top: 8%;
  border-top: 3px solid $c-colors;
  float: left;
}
.card-3 {
  margin: 0 auto;
  margin-top: 2.5%;
  border-top: 3px solid $r-colors;
}
.card-4 {
  margin: 0 auto;
  margin-top: 2%;
  border-top: 3px solid $o-colors;
}
img {
  width: 22%;
  height: 25%;
  float: right;
}
@media only screen and (max-width: 800px) {
  .card {
    display: flex;
    flex-direction: column;
  }
  .card > * {
    width: 250px;
    margin: 0 auto;
    margin-top: 5%;
  }
  img {
    margin: 0;
    width: 50px;
  }
}
